@import '../colors';

.api-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  thead tr {
    display: none;
    user-select: none;
  }
  tbody tr {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    margin-bottom: 0.5em;
  }
  td,
  th {
    padding: 0.3rem;
    span {
      margin: 0.5rem 0;
    }
  }
}

.api-table-header {
  cursor: pointer;
  background-color: $background-color-table;
  color: $font-color;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0;
  display: flex;
  &::after {
    content: url('../assets/arrows-sort.svg');
    display: inline-block;
    width: 16px;
    margin: 0 3px;
  }
}

.api-name {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  a {
    color: $font-color;
    &::after {
      content: url('../assets/external-link.svg');
      display: inline-block;
      width: 20px;
      margin: 0 1px;
    }
  }
}

.api-description {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  order: 1;
  width: 100%;
  &::before {
    content: open-quote;
  }
  &::after {
    content: close-quote;
  }
}

.badge {
  border-radius: 6px;
  font-size: 0.7rem;
  padding: 0.3rem 0.4rem;
  color: $font-color-inverse;
  white-space: nowrap;
}
.category {
  background-color: $badge-color-neutral;
}
.no-auth,
.https {
  background-color: $badge-color-blue;
}
.auth,
.no-https {
  background-color: $badge-color-red;
}

@media (min-width: 768px) {
  .api-table {
    thead tr,
    tbody tr {
      display: table-row;
      background-color: $background-color-table;
      border: 1px solid $border-color;
      text-align: left;
    }
  }

  .api-name,
  .api-description {
    width: auto;
    font-size: clamp(0.8rem, 2vw, 1.1rem);
  }

  .api-name {
    a {
      text-decoration-color: transparent;
      transition: text-decoration-color 250ms;
      &:hover {
        text-decoration-color: $font-color;
      }
      &::after {
        content: url('../assets/external-link.svg');
        display: inline-block;
        width: 16px;
        margin: 0;
      }
    }
  }

  .auth {
    display: block;
    width: fit-content;
  }
  .category {
    display: block;
    text-align: center;
    white-space: unset;
  }
}
