@import '../colors';

.form {
  display: grid;
  padding: 0.5rem;
  span {
    font-size: 0.7rem;
    padding: 0.3rem 0.5rem;
    margin-bottom: 1rem;
  }
}

.label {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.input,
.select {
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.search {
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  line-height: 1rem;
}

.form-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.form-select {
  display: grid;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .form-filters {
    display: grid;
    grid-template-columns: auto auto;
  }
  .sort-by-select {
    display: none;
  }
}
