@import '../colors';

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem auto;
  p {
    order: 1;
    text-align: center;
  }
}

.button-container {
  display: flex;
  margin: 0.5rem 0;
  button {
    cursor: pointer;
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0 0.3rem;
    color: $font-color-inverse;
    background-color: $button-color;
    transition: background-color 250ms;
    &:hover {
      background-color: $button-color-hover;
    }
    &:disabled {
      cursor: default;
      background-color: $button-color-disabled;
      color: $button-font-color-disabled;
    }
  }
}

@media (min-width: 768px) {
  .pagination {
    flex-direction: row;
    p {
      order: unset;
    }
  }
}
