$background-color: #f4f4f4;
$background-color-table: #fff;

$font-color: #333;
$font-color-inverse: #fff;

$border-color: #ddd;

$button-color: #494949;
$button-color-hover: #2890b9;
$button-color-disabled: #ddd;
$button-font-color-disabled: #5e5e5e;
$button-color-hover-light: #d2f2ff;

$badge-color-red: #e73f25;
$badge-color-blue: #41a3ce;
$badge-color-neutral: #7a7a7a;
